// All Variables


// Colors

$primary-color: #fbbf30 !default;
$secondary-color: #262626 !default;
$Black: #000000 !default;
$White: #ffffff !default;

// Fonts
$base-font-type: 'Roboto', sans-serif;
$base-font-size: 11px;
$base-font-color: black;


// Screen Breakpoints
$mobile-portrait: 320px;
$mobile-landscape: 640px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$medium-desktop: 1170px;
$large-desktop: 1600px;
